.input-form {
  outline: none;
  border: none;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--neutral-grey);
  background-color: var(--neutral-white);
  width: 100%;

  color: var(--neutral-dark);
  font-size: 1.125rem;
  font-weight: 400;

  &:focus,
  &:hover {
    border-bottom-color: var(--btn-blue-base);
    color: var(--btn-blue-base);
  }

  &::placeholder {
    color: rgba(128, 128, 128, 0.4);
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    color: rgba(128, 128, 128, 0.4);
    opacity: 1;
  }

  &::-moz-placeholder {
    color: rgba(128, 128, 128, 0.4);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: rgba(128, 128, 128, 0.4);
    opacity: 1;
  }

  &::-moz-selection {
    color: rgba(128, 128, 128, 0.4);
    opacity: 1;
  }
}

.input-form-error {
  border-bottom: 2px solid var(--feedback-error);
  color: var(--feedback-error);
}
