.table-container {
  display: flex;
  flex-direction: column;
}

.table-custom {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  background-color: var(--neutral-white);
}

.table-custom th {
  color: var(--neutral-dark);
}

.table-custom td {
  color: var(--neutral-black);
}

.table-custom th,
.table-custom td {
  padding: 16px 32px;
  border-bottom: 1px solid var(--background-light);
}

.col-left {
  text-align: left;
  width: 60%;
}

.col-right {
  text-align: right;
  width: 40%;
  padding: 32px 8px !important;
}

.btn-action {
  padding: 4px 6px;
  font-size: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  color: inherit;
}

.btn-action svg {
  flex-shrink: 0;
}

.btn-action span {
  white-space: nowrap;
}

.btn-action:nth-child(1) {
  color: #0f64e5;
}

.btn-action:nth-child(2) {
  color: #d27000;
}

.btn-action:nth-child(3) {
  color: #e4515e;
}

.actions-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.pagination button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--neutral-white);
  cursor: pointer;
}
