@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter";
  font-style: normal;
  line-height: normal;
}

:root {
  --background-light: #f0f4f8;
  --background-lighter: #f7f9fb;

  --neutral-black: #0d0d0d;
  --neutral-dark: #626262;
  --neutral-grey: #d0d0d0;
  --neutral-white: #fefefe;

  --btn-blue-base: #0f64e5;
  --btn-blue-hover: #0750c0;
  --btn-blue-active: #04409e;

  --feedback-error: #d41a1a;
  --feedback-error-darker: #a90a0a;

  --primary-blue: #0f64e5;
  --danger-red: #e4515e;
}

body {
  margin: 0;
  background-color: var(--background-lighter);
}

h1 {
  color: var(--neutral-black);
  width: 100%;
  margin: 0%;
}

.button-semibold {
  font-size: 1rem;
  font-weight: 600;
}

.body-medium {
  font-size: 1rem;
  font-weight: 500;
}

.body-regular {
  color: var(--neutral-dark);
  font-size: 1rem;
  font-weight: 400;
}

.small-medium {
  font-size: 0.75rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--neutral-black);
}
